.l-footer {
  background: linear-gradient(to bottom right, $blue-200, $blue-800);
  &__group {
    font-family: "Yuji Boku", serif;
    color: white;
    font-size: 5rem;
    margin-bottom: 5px;
  }
}
