.c-blog-block {
  max-width: 400px;
  &__card {
    max-width: 400px;
  }
  &__image {
    width: 100%;
    height: 230px;
    // @media (min-width: 1000px) {
    //   height: 300px;
    // }
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
